<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    this is the dependency bean for Draw2d-->
    <bean id="D2d"
          class="constructorSetterInjection.Draw2d"
    >
    </bean>

    <!--    this is the dependency bean for Draw3d-->
    <bean id="D3d"
          class="constructorSetterInjection.Draw3d"
    >
    </bean>

    <!--    constructor injection-->
<bean id = "cicleConstructorInjection"
      class = "constructorSetterInjection.circle">
    <constructor-arg ref="D2d"></constructor-arg>
    <constructor-arg ref="D3d"></constructor-arg>

</bean>
    <!--    setter injection-->
    <bean id="squareSetterInjection"
          class="constructorSetterInjection.square"
    >
        <property name="drawSquare2d" ref="D2d"></property>
        <property name="drawSquare3d" ref="D3d"></property>
    </bean>


</beans>